body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: pink ;
}
hr {
  background-color: #B4286E ;
  padding:2px;
}
header {
    background-color: pink;
    color: #B4286E ;
    padding: 7px 0;
    text-align: center;
    box-shadow: 0px 0px 25px #A63A69;
}
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: pink;
    border-radius: 5px;
    box-shadow: 0px 0px 25px ##A63A69;
}
.post {
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid #B4286E;
    border-radius: 5px;
    background: white;
    color:#B4286E;
}
.post h2 {
    margin: 0 0 10px;
}
.post p {
    margin: 0;
}

.pagination{
    text-align: center;
}

.pagination a {
    color: #B4286E;
    font-size: small;
    padding: 0px 20px;
    text-decoration: none;
    border: 1px solid #B4286E;
    background-color: white ;
    display: inline-block;
}

.pagination a.active {
    background-color: white;
    color: #B4286E;
    border: 5px solid #B4286E;
    border-radius: 10px;
}

.pagination a:hover:not(.active) {
    background-color: transparent;
    color: red;
}

.pagination a:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.pagination a:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
footer {
    text-align: center;
    padding: 10px 0;
    background: pink;
    color: #B4286E ;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0px 0px 25px #A63A69 ;
}